<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyShow</title>


    <!-- icons links -->
    <script src="https://kit.fontawesome.com/c0e4752029.js" crossorigin="anonymous"></script>

    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">


    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body class="wholeBody" style="overflow-x: hidden;">

    <!-- NavBar -->
    <section id="Nav-bar-section">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark  navbar-whole-class ">
            <div class="container">
                <div class="navbar-nav mx-auto text-right">
                    <a href="#" class="nav-link nav-link-ltr textinnav text-warning fa-3x">BookMyShow</a>
                </div>
            </div>
        </nav>
    </section>
    <%=errorMsg%>
        <%if(errorMsg=="Booking Done!!"){%>
            <div class="border border-success animated tada mt-5 mb-5 pt-5 pb-5 text-center">
                <div class="successCon">
                    <h3 class="text-success pt-4">
                        <i class="fas fa-solid fa-check-double fa-5x text-success bg-dark successTick"></i>
                        <%=errorMsg%>
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2 class="text-secondary">Name: <span class="text-dark"><%=ticket.name%>
                                    </span>
                    </h2>
                </div>
                <div class="col-lg-12">
                    <h2 class="text-secondary">MovieName: <span class="text-dark"><%=ticket.movieName%></span></h2>
                </div>
                <div class="col-lg-12">
                    <h2 class="text-secondary">Certification: <span class="text-dark"><%=ticket.certification%></span></h2>
                </div>
                <div class="col-lg-12">
                    <h2 class="text-secondary">Language: <span class="text-dark"><%=ticket.language%></span></h2>
                </div>
                <div class="col-lg-12">
                    <h2 class="text-secondary">Timing: <span class="text-dark"><%=ticket.timing%></span></h2>
                </div>
                <div class="col-lg-12">
                    <h2 class="text-secondary">Cost: <span class="text-dark"><%=ticket.cost%></span></h2>
                </div>
                <div class="col-lg-12">
                    <h2 class="text-secondary">Theatre Name: <span class="text-dark"><%=ticket.theatreName%></span></h2>
                </div>
                <div class="col-lg-12">
                    <h2 class="text-secondary">Location: <span class="text-dark"><%=ticket.location%></span></h2>
                </div>
                <div class="col-lg-12">
                    <h2 class="text-secondary">No Of Tickets: <span class="text-dark"><%=ticket.noOfTickets%></span></h2>
                </div>
            </div>
            <%}else{%>

                <p>Booking Over!!</p>
                <%}%>
                    <section>
                        <div class="pt-3 pb-3">
                            <div>
                                <i class="fas-solid fa-circle-check fa-4x"></i>
                            </div>
                        </div>
                    </section>


                    <!-- jQuery -->
                    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
                    <!-- Popper JS -->
                    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
                    <!-- Bootstrap JS -->
                    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>

</body>

</html>